<div
  [ngClass]="['border rounded-lg p-6 pb-5', !isActive() ? 'border-gray-300' : 'border-blue-600']"
  (click)="setSelected()"
>
  <div class="flex items-center gap-x-2">
    <span
      class="bg-gray-600 text-gray-25 px-2.5 py-1.5 rounded-lg font-semibold text-base text-center"
      >Q{{ questionNumber() + 1 }}</span
    >
    <app-combobox
      [isActive]="isActive()"
      [options]="QUESTION_TYPES"
      (valueSelect)="onValueSelect($event)"
    />
  </div>

  <div class="mt-5">
    <app-question-editor />
  </div>

  <hr class="mt-9" />
  <div class="mt-5 flex justify-end space-x-4">
    <div class="flex items-center gap-x-2">
      <span class="font-medium">Randomize options</span>
      <app-toggle />
    </div>

    <div class="flex items-center gap-x-2">
      <span class="font-medium">Make required</span>
      <app-toggle />
    </div>
  </div>
</div>
