:host {
  display: flex;
  align-items: center;
}

.toggle {
  --width: 2.25rem;
  --height: 1.25rem;
  --border-radius: 0.75rem;

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: theme('colors.gray.100');
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: theme('colors.blue.600');
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: 1rem;
  width: 1rem;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #1018280f;
  box-shadow: 0px 1px 3px 0px #1018281a;
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(1rem);
}
