@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;

  &:focus {
    outline: none;
  }
}

html {
  background-color: theme('colors.gray.25');
}
