@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;

  &:focus {
    outline: none;
  }
}

html {
  background-color: theme('colors.gray.25');
}

.ce-block__content {
  margin: 0 !important;
  max-width: 80%;
}

.ce-popover {
  left: -8rem;
}

.ce-toolbar {
  left: unset;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}
